:root {
    --grey: #172339;
    --cream-white: #FAF8F6;
    --cream: #F3EDE7;
    --dark-grey: #49566D;
    --cream-light: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: "epilogue", sans-serif;
    background-color: #FAF8F6;
    display: grid;
    width: 100vh;
    height: 1716px;

}

.container {
    width: 1440px;
    height: 1716px;
    align-items: center;
    align-content: center;
    
}

.first-container {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 56px;
    left: 56.15px;
    top: 60px;
    right: 165px;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.first-container.right {
    position: absolute;
    align-items: center;
    text-align: center;




}

.right {

    width: 219px;
    height: 56px;
    left: 590px;
    top: 60px;
    border: 1px solid #172339;
    background: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin-left: 360px;


}


.right a {

    position: relative;
    text-decoration: none;
    height: 32px;
    left: 0.73%;
    right: 11.19%;
    font-family: 'Epilogue'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    top: calc(52% - 24px/2);
    margin-top: 25px;



    /* identical to box height, or 200% */
    letter-spacing: -0.16px;

    /* Dark Blue */
    color: #172339;

}

.first-container.left {
    align-items: center;
    position: absolute;
    align-content: center;
    width: 78.41px;
    height: 24.8px;
    left: 166.15px;
    top: 62.58px;
}









.second-container {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    margin-left: 56px;
    top: 173px;
    width: 1108.85px;
    justify-content: space-between;
    align-content: center;




}

.second-container.info {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 635px;
    height: 234px;
    left: 166px;
    bottom: 1206px;
    right: 639px;

    /* Heading XL */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 78px;

    /* or 108% */
    letter-spacing: -1px;


    color: #172339;
}

.info.header {

    position: absolute;
    width: 635px;
    height: 405px;
    flex-shrink: 0;
    margin-top: 220px;
}

.header h1 {
    position: absolute;
    width: 935px;
    flex-shrink: 0;
    color: #172339;
    /* Heading XL */
    font-size: 72px;
    font-family: 'Epilogue';
    font-weight: 700;
    line-height: 78px;
    margin-top: 200px;
}

.info.sub-header {
    position: absolute;
    width: 350px;
    height: 96px;
    left: 166px;



}

.sub-header p {
    position: absolute;
    color: var(--grey, #49566D);
    /* Body */
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */
    letter-spacing: 0.1px;
    margin-top: 430px;
}
.btn{
    position:absolute;
    margin-top: 520px;
    width: 255px;
    height: 65px;
    margin-left: -6.5px;
    text-align:center;
    align-content:center;
    
    border-radius: 8px;
    background-color:var(--dark-grey,#172339);
    text-decoration:none;
}


.btn a{
    position:absolute;
    text-decoration: none;
    /* identical to box height, or 178% */
    letter-spacing: -0.18px;
    
    /* Cream White */
    color: #FAF8F6;
   margin:22px auto;
   margin-left:-82px;
    

    font-family: 'Epilogue'sans-serif;
}

.curve {
    max-width: 100%;
    min-width: 100%;
}

.curve {
    position: absolute;
    width: 287px;
    height: 32px;
    flex-shrink: 0;
    margin-left: 280px;
    margin-top: -505px;

}

.second-container.mg1 {
    max-width: 100%;
    min-width: 100%;

}

.second-container .mg1 {
    width: 350px;
    height: 600px;
    margin-left: 480px;
    margin-top: 20px;
    background-image: url(images/image-hero-portrait.png);
    background-repeat: no-repeat;

    border-radius: 15px;
}

.second-container .end {
    width: 190px;
    height: 375px;
    left: 1086px;
    top: 279px;
}

.end {
    align-items: center;
    display: block;
    width: 190px;
    height: 375px;
    left: 1086px;
    top: 279px;
}

.end.first {

    position: absolute;
    width: 190px;
    height: 83px;
    left: 1036px;
    top: 279px;
    margin-top: 15px;

}

.first h1, .second h1, .third h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

}

.first, .second, .third h1 {
    margin-top: 63px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    /* identical to box height, or 117% */
    letter-spacing: -0.5px;

    /* Dark Blue */
    color: #172339;
}

.first p, .second p, .third p {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 2.5px;

    /* Grey */
    color: #49566D;
}

.end.second {
    padding: 5px;
    margin-top: 15px;
    position: absolute;
    width: 190px;
    height: 83px;
    left: 1036px;
    top: 425px;


}

.end.third {
    padding: 5px;

    position: absolute;
    width: 190px;
    height: 83px;
    left: 1036px;
    top: 571px;


}

.abs {
    position: absolute;
    width: 1109px;
    height: 589.56px;
    left: 167px;
    top: 927.44px;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.abs {
    position: absolute;
    width: 1109px;
    height: 589.56px;
    left: 167px;
    top: 927.44px;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.third-container {

    display: inline-flex;
    flex-direction: row;

    width: 95%;
    margin-left: -106px;
    top: 972px;
    right: 164px;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    /* Dark Blue */
    background: #172339;
    border-radius: 15px;
    margin-bottom: 199px;
    margin-top: 550px;


}

.mg {

    width: 559.81px;
    height: 589.56px;
    left: 288.49px;
    margin-top: -47.44px;

    margin-left: 100px;
    margin-bottom: 0px;


}

.third-container .mg1 {
    position: absolute;
    width: 64.05px;
    height: 52px;
    margin-left: 748.25px;
    top: 1133.15px;

    border: 2px solid #FAF8F6;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.g {
    margin-left: -280px;
    margin-top: -150px;

}

.text {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 369px;
    left: 601px;
    top: 1060px;
}

.top {

    height: 56px;
    left: 0%;
    right: 14.57%;
    top: calc(50% - 56px/2 - 156.5px);
    color: #FAF8F6
}

.top h1 {
    margin-left: -110px;
    font-weight: 400;
    font-size: 48px;
    font-family: 'Epilogue'sans-serif;
}

.text.center {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 26.02%;
    bottom: 26.56%;

    /* Quote */


}

.top span {
    font-weight: 400;
    font-size: 48px;
    font-family: sans-serif;
}

.center p {
    font-family: 'Epilogue'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    /* or 175% */
    letter-spacing: 0.1px;

    /* Cream */
    color: #F3EDE7;
    margin-left: -114px;
    margin-top: 40px;

}

.text.bottom {
    position: absolute;
    height: 32px;
    left: 0%;
    right: 52.86%;
    top: calc(50% - 32px/2 + 142.5px);

    /* Heading M */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    /* identical to box height, or 178% */
    letter-spacing: -0.18px;

    /* Cream White */
    color: #FAF8F6;
    margin-top: 72px;
}

.bottom h2 {
    font-family: 'Epilogue'sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

    /* identical to box height, or 178% */
    letter-spacing: -0.18px;

    /* Cream White */
    color: #FAF8F6;
    margin-left: -119px;
    margin-top: 22px;
}

.bottom h3 {

    color: #F3EDE7;

    font-feature-settings: 'clig'off, 'liga';
    margin-left: -119px;
    right: 45.71%;
    top: 92.95%;
    bottom: 0%;

    /* Heading S */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    letter-spacing: 2.5px;

    /* Cream */
    color: #F3EDE7;
}

.forth-container {

    align-items: center;
    display: flex;


    width: 100%;
    flex-flow: row;
    height: 464px;

    margin-top: 1252px;
    left: 0px;
    margin-bottom: 0px;
    /* Cream */
    background: #F3EDE7;
    position: absolute;

    height: 464px;

    top: 232px;

    /* Cream */
    background: #F3EDE7;

}

.contain {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1109px;
    height: 32px;
    margin-left: 57px;
    top: -1612px;
    margin-bottom: -92px;
    align-items: center;
    align-content: center;

}

.contain.n {

    height: 32px;
    left: 20px;
    right: 92.7%;
    top: calc(50% - 32px/2);
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700px;
    font-size: 32px;
    line-height: 32px;

    /* identical to box height, or 100% */
    letter-spacing: -0.444444px;

    /* Dark Blue */
    color: #172339;


}

.contain.m {
    justify-content: space-between;
    height: 32px;
    left: 44.27%;
    right: 44.45%;
    top: calc(50% - 32px/2);
    align-items: center;

    /* Footer */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;

    /* identical to box height, or 213% */
    text-align: center;
    letter-spacing: 0.0833333px;

    /* Grey */
    color: #49566D;


}

.containing {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 116px;
    height: 20px;
    left: 693px;
    top: 6px;
    margin-left: 20px;
}

.containing {
    margin-left: 20px;
}


